@import 'normalize.css';
@import '98.css';

body {
  padding: 10px;
}

.win-98 {
  &,
  .title-bar, .window, button, input, label, option, select, table, textarea, ul.tree-view {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
  }

  button.only-icon {
    padding-right: 4px;
    padding-left: 4px;
    min-width: unset;
  }

  button svg.solid-fa {
    color: initial;
  }
}
