.tauri-window {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-sizing: border-box;

  > .title-bar {
    flex: 0 0;
    app-region: drag;
  }

  > .title-bar .title-bar-controls {
    app-region: no-drag;
  }

  > .window-body {
    flex: 1 1;
    margin: 0;
    padding: 10px;
    overflow: auto;
  }
}
